<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>15 Riddles</title>
</head>
<body>
    <!-- User then picks wether he/she wants a photo or text riddles -->
    <h1>15 Riddles</h1>
    <p>We're nearly there {{ username }}, choose either a text or photo riddle.</p>
    <form method="POST">
        <button name="choice" value="Photo">Photo</button>
        <button name="choice" value="Text">Text</button>
    </form>
</body>
</html>