{% extends "second_base.html" %}
{% block content %}
<div class="jumbotron center content">
        <!-- User enters username -->
        <h1 class="display-4"><span class="bg-purple">15</span> Riddles</h1>
        <p class="lead">Congratulations you've finished! You ended with <span class="bold">{{ points }} points!</span></p>
        <form method="POST">
            <label for="play-again" class="bold">Like to play again?</label>
            <button id="play-again-btn" name="play-again" value="yes" class="btn button-bg-blue mat-shadow">Click Here!</button>
        </form>
    </div>
{% endblock %}