{% extends "base.html" %} 
{% block content %}
<div class="container container-fluid">
    <div class="row">
        <div class="jumbotron center content">
            <!-- User enters username -->
            <h1 class="display-4"><span class="bg-purple">15</span> Riddles</h1>
            <p class="lead">Want to test your mettle with this quiz? Enter your <span class="bold">username</span> below to begin!</p>
            
            <form method="POST">
                <input type="text" id="username" name="username" placeholder="Enter username.." class="mat-shadow" required>
                <button class="btn button-bg-blue mat-shadow">Submit!</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
