{% extends "second_base.html" %}
{% block content %}
<div class="container container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <!-- User guesses riddles -->
                <div class="jumbotron center content">
                    <h1 class="display-4"><span id="riddleNum" class="bg-purple">{{ riddle_number }}</span> Riddle</h1>
                    <p id="text-riddle" class="lead">{{ riddle }}</p>
                    <img id="picture-riddle" src={{ riddle }} alt="Riddle Photo"/>
                    {% for incorrect in incorrect_answers %}
                    <p><small><i class="far fa-times-circle incorrect-icon gradient"></i>{{ incorrect }}</small></p>
                    {% endfor %}
                    <form method="POST">
                        <button class="btn button-bg-green mat-shadow" formnovalidate>Skip</button>
                        <input class="mat-shadow" type="textarea" name="guess" placeholder="Guess here!" required/>
                        <button class="btn mat-shadow button-bg-blue">Submit!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
