<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>15 Riddles</title>
</head>
<body>
    <!-- User guesses riddles -->
    <h1>1st Riddle</h1>
    <p>{{ textriddle }}</p>
    {% for incorrect in incorrect_answers %}
    <p><small>{{ incorrect }}</small></p>
    {% endfor %}
    <form method="POST">
        <input type="textarea" name="guess"/>
        <button>Submit!</button>
    </form>
</body>
</html>